<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Candle View</title>
  </head>
  <link rel="stylesheet" href="./css/bootstrap.min.css" />
  <link rel="stylesheet" href="./styles/candleview.css" />
  <script src="./scripts/candleview.js"></script>
  <body>
    <%- include("../partials/header"); %>
    <div class="ms-5">
      <form
        class="mt-3 mb-3"
        method="post"
        enctype="multipart/form-data"
        action="/uploadImage?cid=<%= candle.cid.cid %>"
      >
        <div class="row form-group">
          <label for="myFile" class="col col-md-auto">
            Upload Candle Picture
          </label>
          <input type="file" id="myFile" name="filename" class="col col-sm-auto form-control"/>
          <input type="submit" class="col col-sm-auto form-control"/>
        </div>
      </form>

      <img src="<%=candle.image%>" />
      <p><%=candle.image%></p>
    </div>
  </body>
</html>
